.GuestList {
  box-sizing: border-box;
  border: .5px solid lightgray;
  border-radius: 4px;
  padding: 10px;
}

.Close {
  color:rgb(0,132,137);
  margin-left:auto; 
  margin-right:0;
}
.onhover {
  text-decoration: underline;
  color:rgb(0,132,137);
  cursor: pointer;
  margin-left:auto; 
  margin-right:0;
}

.button {
  position: absolute;
}

.guests {
  left: 76%;
  align: center;
}

.minus {
  height: 18px;
  width: 18px;
  left: 81%;
  border: none;
}

.plus {
  height: 18px;
  width: 18px;
  left: 69%;
  border: none;
}
